@model IEnumerable<WebApplication1.Models.Workers>

@{
    ViewData["Title"] = "Index";
}

<br /><br /><br /><br /><br />
<h4>Index</h4>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.House)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.House.BuyPrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WorkersID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WorkersID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WorkersID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
